footer.footer {
    background-color: #6a6a6a;
    padding: 1.5rem;
    box-shadow: 0px -1px 7px 8px rgba(0, 0, 0, 0.1);
}

.footer .container {
    max-width: 960px;
    margin: 0 auto;
}

.footer .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.footer h2 {
    margin-bottom: 1rem;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer .copyright {
    margin-top: 1.5rem;
    text-align: center;
}

.socials:hover {
    background-color: #363333;
    padding: 1px;
    border-radius: 5px;
}
